.wrapper { 
    /* background-color:rgb(0, 61, 160); */
    display: flex;
    justify-content: space-between;
}
.wrapper__content { 
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 10px;
    align-items: center;
    font-weight: 300;
    font-family: "poppins", sans-serif;
    /* background: rgb(167, 26, 26); */
}
.settings__select{ 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    width: 100%;
  flex: 0.8;

}
.picture{ 
    width: 55%;
    align-self: center;
    padding: 10px;
}