.header{ 
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-style: italic;
    font-size: 3vw;
    cursor: pointer;

}
.divider{ 
    background-color: rgb(179, 58, 58);
    width: 100%;



}
